@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
@import "https://unpkg.com/open-props";

$primary-color: hsl(25, 97%, 53%);
$clr-1: hsl(0, 0%, 100%);
$clr-2: hsl(217, 12%, 63%);
$clr-3: hsl(216, 12%, 54%);
$clr-4: hsl(213, 19%, 18%);
$clr-5: hsl(216, 12%, 8%);
$clr-card-bg: #212832;
$clr-rating-bg: #272e38;



$ff-primary: 'Overpass', sans-serif;

* {
  font-family: $ff-primary;
  font-size: 15px;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: $ff-primary;
  font-size: 16px;
  color: $primary-color;
  background-color: $clr-5;
  font-weight: 400;
}


.circle {
  background-color: $clr-rating-bg;
  color: $clr-2;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


.card {
  background-color: $clr-card-bg;
  padding: 2em 3em;
  max-width: min(400px, 90vw);
  border-radius: 25px;

  h2 {
    color: $clr-1;
    font-size: 2rem;
    font-weight: bold;
  }

  .card--desc {
    color: $clr-2;
    line-height: 1.5;
  }
}

.ratings {
  display: flex;
  justify-content: space-between;


}

.rating {
  background-color: $clr-rating-bg;
  color: $clr-2;
  width: 45px;
  height: 45px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &:hover {
    color: $clr-1;
    background-color: $primary-color;
  }
}

.active {
  color: $clr-1;
  background-color: $clr-3;
}

.btn {
  background-color: $primary-color;
  color: $clr-1;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  letter-spacing: 3px;

  &:hover {
    background-color: $clr-1;
    color: $primary-color;
  }
}

.success {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  .card--desc {
    text-align: center;
  }

  .success--rating {
    background-color: $clr-4;
    padding: 0.5em 1em;
    border-radius: 20px;
    font-weight: 400;
  }

}

.hidden {
  display: none;
}


$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}